{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des Réponses{% endblock %}

{% block body %}
    <h1>Liste des Réponses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.content }}</td>
                <td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ answer.updatedAt ? answer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('backend_answer_show', {'id': answer.id}) }}">show</a>
                    <form action="{{ path('backend_answer_status', {'id':answer.id }) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('answer-status' ~ answer.id) }}">
                        <button class="btn text-success" type="submit"><i class="fas fa-unlock"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
