{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des Users{% endblock %}

{% block body %}
    <h1>Liste des Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Role</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role.label }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {# <a href="{{ path('backend_user_show', {'id': user.id}) }}">show</a> #}
                    <form action="{{ path('backend_user_promote', {'id':user.id }) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('user-promote' ~ user.id) }}">
                        <button type="submit">Promouvoir en modérateur</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
