{% extends 'base.html.twig' %}

{% block title %}Liste des thèmes{% endblock %}

{% block sidebar %}
    {% include "navigation/_left_nav.html.twig" %}
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between mb-4">
    <h2 class="col-9">Liste des thèmes ({{ tags|length }} thème(s))</h2>
</div>

<div class="content mr-4 row justify-content-center text-center">
    {% for tag in tags %}
        <div class="card p-4 mb-2 border-dark card-tag bg-{{ cycle(['one', 'two'], loop.index0) }}">
            <a href="{{ path('tag_show', {'id':tag.id, 'slug':tag.slug}) }}">{{ tag.name }}</a>
            <small class="text-muted">
                {{ tag.questions|length }}
                Question(s)
            </small>
        </div>
    {% else %}
        <td colspan="7">no records found
    {% endfor %}
</div>
{% endblock %}