<nav class="navbar navbar-light  justify-content-between">

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') %}
    <a class="btn btn-outline-danger my-2 my-sm-0" href="{{ path('backend_question_list') }}">Admin</a>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('user_show', {'id':app.user.id, 'slug':app.user.slug})}}">{{ app.user.username }}</a>
    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('app_logout') }}">Deconnexion</a>
    {% else %}
    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('app_register') }}">Inscription</a>
    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('app_login') }}">Connexion</a>
    {% endif %}
</nav>