{% extends 'base.html.twig' %}

{% block title %}Liste des questions{% endblock %}

{% block sidebar %}
    {% include "navigation/_left_nav.html.twig" %}
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between mb-4 mr-4">
    <h2 class="col-9">Liste des questions ({{ questions|length }} question(s))</h2>
    <a class="btn btn-primary" href="{{ path('question_new') }}">Nouvelle question</a>
</div>

<div class="content mr-4">
    {% for question in questions %}
        <div class="card mb-2 border-dark">
            <div class="card-header bg-{{ cycle(['one', 'two'], loop.index0) }}">
                <a href="{{ path('question_show', {'id':question.id, 'slug':question.slug}) }}">{{ question.title }}</a>
            </div>
            <div class="card-body text-left">
                {% for tag in question.tags %}
                    <a class="badge badge-secondary" href="{{ path('tag_show', {'id':tag.id, 'slug':tag.slug}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <p class="card-text col-12 text-right">
                <small class="text-muted">
                    par
                    <a href="{{ path('user_show', {'id':question.author.id, 'slug':question.author.slug}) }}">{{ question.author.username }}</a>
                    le {{ question.createdAt|date("d/m/Y") }} à {{ question.createdAt|date("H:i:s") }}
                </small>
            </p>
        </div>
    {% else %}
        <td colspan="7">no records found
    {% endfor %}
</div>
{% endblock %}