{% extends 'base.html.twig' %}

{% block title %}{{ question.title }}{% endblock %}

{% block sidebar %}
    {% include "navigation/_left_nav.html.twig" %}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-4">
        <h2 class="col-9">{{ question.title }}</h2>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') %}
        <div class="manage-question">
            <form action="{{ path('backend_question_status', {'id':question.id }) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('question-status' ~ question.id) }}">
                <button type="submit">Bloquer cette question</button>
            </form>
        </div>
        {% endif %}
        <div class="vote-question"> {{ question.vote }}
            {{ form_start(questionVote) }}
            {{ form_widget(questionVote) }}
            {{ form_end(questionVote) }}
        </div>
    </div>
    <div class="about">
        <div class="tags">
            {% for tag in question.tags %}
                <a class="badge badge-secondary" href="{{ path('tag_show', {'id':tag.id, 'slug':tag.slug}) }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="question-author">
            par 
            <a href="{{ path('user_show', {'id':question.author.id, 'slug':question.author.slug}) }}">{{ question.author.username }}</a>
            le {{ question.createdAt|date("d/m/Y") }} à {{ question.createdAt|date("H:i:s") }}
        </div>
    </div>
    <div class="content">
            <div class="detail mb-4">
                {{ question.content }}
            </div>
            <div class="answers mx-4">
            <h4>Réponse(s) ({{ answers|length }} réponse(s))</h4>
            {% for answer in answers %}
                {% if question.rightAnswer.id is defined and question.rightAnswer.id is not null and question.rightAnswer.id == answer.id %}
                <div class="right-answer" style="background-color:green">
                {% else %}                
                <div class="answer">
                {% endif %}
                    <div class="answer-author">
                        par 
                        <a href="{{ path('user_show', {'id':answer.author.id, 'slug':answer.author.slug}) }}">{{ answer.author.username }}</a>
                        le {{ answer.createdAt|date("d/m/Y") }} à {{ answer.createdAt|date("H:i:s") }}
                    </div>
                    <div class="answer-content">
                        <p>
                            {{ answer.content }}
                        </p>
                    </div>
                    <div class="manage-answer">
                    {% if app.user.id is defined and app.user.id is not null and app.user.id == question.author.id %}                    
                        <form action="{{ path('question_right', {'id':question.id, 'answerId':answer.id }) }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('right' ~ question.id) }}">
                            <button type="submit">Valider cette réponse</button>
                        </form>
                    {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') %}
                        <form action="{{ path('backend_answer_status', {'id':answer.id }) }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('answer-status' ~ answer.id) }}">
                            <button type="submit">Bloquer cette réponse</button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="vote-answer"> {{ answer.vote }}
                        <form action="{{ path('question_answer_vote', {'id': question.id, 'answerId':answer.id }) }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('answer-vote' ~ answer.id) }}">
                            <button name="up" value="true" type="submit">+1</button>
                            <button name="down" value="true" type="submit">-1</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
        {{ include('question/_form_answer.html.twig') }}
        <a href="{{ path('question_list') }}">back to list</a>
    </div>
{% endblock %}
