{% extends 'base.html.twig' %}

{% block title %}{{ question.title }}{% endblock %}

{% block sidebar %}
    {% include "navigation/_left_nav.html.twig" %}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-4">
        <h2 class="col-9">{{ question.title }}</h2>
    </div>
    <div class="about">
        <div class="tags">
            {% for tag in question.tags %}
                <a class="badge badge-secondary" href="">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
        <div class="question-author">
            par 
            <a href="{{ path('user_show', {'id':question.author.id, 'slug':question.author.slug}) }}">{{ question.author.username }}</a>
            le {{ question.createdAt|date("d/m/Y") }} à {{ question.createdAt|date("H:i:s") }}
        </div>
    </div>
    <div class="content">
        <h3>{{ question.answers|length }} réponse(s)</h3>
            <div class="detail mb-4">
                {{ question.content }}
            </div>
            <div class="answers mx-4">
            <h4>Réponse(s)</h4>
            {% for answer in question.answers %}
                <div class="answer-author">
                    par 
                    <a href="{{ path('user_show', {'id':answer.author.id, 'slug':answer.author.slug}) }}">{{ answer.author.username }}</a>
                    le {{ answer.createdAt|date("d/m/Y") }} à {{ answer.createdAt|date("H:i:s") }}
                </div>
                <p>
                    {{ answer.content }}
                </p>
            {% endfor %}
            </div>

        <a class="btn btn-primary" href="{{ path('answer_new', {'id':question.id, 'slug':question.slug}) }}">Nouvelle réponse</a>
        {# {% include "answer/_form.html.twig" %} #}
        <a href="{{ path('question_list') }}">back to list</a>
    </div>
{% endblock %}
