{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des Questions{% endblock %}

{% block body %}
    <h1>Liste des Questions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Slug</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.content }}</td>
                <td>{{ question.slug }}</td>
                <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('backend_question_show', {'id': question.id}) }}">show</a>
                    <form action="{{ path('backend_question_status', {'id':question.id }) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('question-status' ~ question.id) }}">
                        <button type="submit">Débloquer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
